spring:
  application:
    name: eureka-serve

server:
  port: 8761

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false

logging:
  level:
    com.netflix.eureka: OFF
    org.netflix.discovery: OFF