.git
.gitignore
.mvn
target
!target/*.jar
*.md
README.md
HELP.md
mvnw
mvnw.cmd
.vscode
.idea
*.iml
.DS_Store
Thumbs.db
*.log
*.swp
*.bak
*.tmp
k8s-*.yaml
prometheus-*.yaml
docker-compose.yml
Jenkinsfile
*.sh
*.ps1
src/test
.gitattributes
