apiVersion: apps/v1
kind: Deployment
metadata:
  name: anggota-deployment
  namespace: perpustakaan-ns
  labels:
    app: anggota
spec:
  replicas: 1
  selector:
    matchLabels:
      app: anggota
  template:
    metadata:
      labels:
        app: anggota
    spec:
      containers:
      - name: anggota-container
        image: localhost:5000/anggotaservice:1.0
        imagePullPolicy: Always
        ports:
        - containerPort: 8081
        env:
        - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
          value: "http://eureka-service:8761/eureka"
        resources:
          requests:
            memory: "256Mi"
            cpu: "100m"
          limits:
            memory: "512Mi"
            cpu: "250m"
        livenessProbe:
          httpGet:
            path: /actuator/health
            port: 8081
          initialDelaySeconds: 60
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /actuator/health
            port: 8081
          initialDelaySeconds: 30
          periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: anggota-service
  namespace: perpustakaan-ns
spec:
  type: ClusterIP
  selector:
    app: anggota
  ports:
  - port: 8081
    targetPort: 8081
